{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Task Manager</title>
    {% bootstrap_css %}
  </head>
  <body class="bg-light">
    <div class="container mt-4">
        <header>
            {% include "navigation.html" %}
        </header>
      </div>
      
      <div class="container">
      <main>
        <div class="container wrapper flex-grow-1">
          {% if messages %}
              {% bootstrap_messages %}
          {% endif %}
        {% block content %}
        {% endblock %}
        </div>
      </main>
      </div>
      </body>
</html>