{% load i18n %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto font-weight-normal" href="{% url 'index_page' %}">
        <h5 >Task Manager</h5>
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{% url 'users_list' %}">{% trans 'Users' %}</a>
      <a class="p-2 text-dark" href="#">{% trans 'Register' %}</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">{% trans 'Log in' %}</a>
</div>

