{% load i18n %}
{% translate 'Stutuses' as statuses %}
{% translate 'Labels' as labels %}
{% translate 'Tasks' as tasks%}
{% translate 'Users' as usrs %}
{% translate 'Registration' as reg %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto font-weight-normal" href="{% url 'index_page' %}">
        <h5 >{% trans 'Task Manager' %}</h5>
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
      {% if user.is_authenticated %}
      <a class="p-2 text-dark" href="{% url 'statuses_list' %}">{{statuses}}</a>
      <a class="p-2 text-dark" href="{% url 'labels_list' %}">{{labels}}</a>
      <a class="p-2 text-dark" href="{% url 'tasks_list' %}">{{tasks}}</a>
      {% endif %}
      <a class="p-2 text-dark" href="{% url 'users_list' %}">{{usrs}}</a>
      {% if not user.is_authenticated %}
      <a class="p-2 text-dark" href="{% url 'user_create' %}">{{reg}}</a>
      {% endif %}
    </nav>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{% url 'login' %}">{% trans 'Login' %}</a>
    {% endif %}
</div>

