{% extends 'layout.html' %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Пользователи</h1>    
<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Имя пользователя</th>
    <th>Полное имя</th>
    <th>Дата создания</th>
    <th></th>
  </tr>
</thead>
<tbody>
    {% for u in users_list %}  
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u }}</td>
      <td>{{ u.date_joined }}</td>
      {% if user.is_authenticated and u.username == user.username or user.is_staff %}
      <td>
        <a href="{% url 'user_update' pk=u.id %}">Изменить</a>
        <br>
        <a href="{% url 'user_delete' pk=u.id %}">Удалить</a>
      </td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>

  </div>
{% endblock %}